body{
  padding: 0;
  background-color: black;
  color: white;
}
.headings{
  display: block;
  width: 100vw;
  border-bottom: 2px solid grey;
}
.productsList{
  display: flex;
  flex-flow: row wrap;
  gap: 2vw;
  
}
.productsdetail{
   width: 16vw;
   border: 1px solid grey;
   border-radius: .5vw;
   padding: .5vw;
}

.selected-items{
  margin-top: 5vh;
}

img{
  width: 15vw;
}

